@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.first-fold-website-home-page {
  height: 100vh;
  width: 98vw;
  margin: auto;
border-radius:10px ;
  overflow: scroll;
}
.home-page-header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  height: 5vh;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.logo {
  width: 40px;

 
  height: auto;
}

.header-nav-links-and-sign-out-button-container {
  width: 200px;
 
}
.nav-link-text {
  color: #1c1415;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sign-up-button {
  height: 20px;
  width: 60px;
  color: #ffffff;
  background-color: #1c1415;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
}
.home-page-watches-curousel-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  

}
.curousel-product-details-section {
  width: 60%;
  
  
}
.product-name-and-caption-container {
  margin-bottom: 20px;
}
.product-name {
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 137%; 
  letter-spacing: -0.76px;
}
.caption-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.caption {
  color: #fff;
  font-family: "Sofia Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 115.5%; 
  letter-spacing: -0.52px;
}
.highlighted-caption-text {
  color: #1c1415;
  font-family: "Sofia Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 115.5%;
  letter-spacing: -0.52px;
}
.description {
  color: rgba(28, 20, 21, 0.8);
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 190%; 
  margin-bottom: 8px;
}
.price {
  color: #fff;

  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 137%; 
  letter-spacing: -0.7px;
}
.contact-us-section {
  width: 100px;
  height: 60px;
}
.splide {
  width: 100%;
  height:50%;
 
  
  
}
.slide-image {
  width: 100%;
  height: 90%;
}
.header-nav-links-and-sign-out-button-container{
    display: none;
}
.nav-bar{
    width: 50px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

@media screen and (min-width:900px){
    .logo{
        width: 100px;
    }
    .splide{
        margin-left: 10%;
        height: 100%    ;
    }
    .nav-bar{
        display: none !important;
        
    }
    .header-nav-links-and-sign-out-button-container{
            width: 300px;
            display: inline;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
    }
    .home-page-watches-curousel-section{
        width: 20%;
        flex-direction: row;
        height: 90%;
        min-width: 80%;
        margin: auto;
        
    }
    .slide-image {
        width: 100%;
        height: 50%;
      }
}